body {
  font-family: "Jost", sans-serif !important;
}

.item-height {
  height: 365px;
}
.item-height img {
  height: 150px;
}
.item .product img {
  transition: transform 0.5s ease;
}

.item .product img:hover {
  transform: scale(1.1);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: black;
  border-radius: 0 !important;
  border: 0.1rem solid black !important;
}

.btn-black:hover {
  background: black !important;
  color: white !important;
}
